.block_bayes .singleselect {
	margin: 0;
}

.block_bayes {}
.block_bayes div.content ul { list-style:none; margin:0; padding:0; }
.block_bayes div.content ul li { margin:4px 0; }
.block_bayes div.content img.icon { padding-right:2px; }
